#General
numpy
pydantic == 2.11.1
PyYAML
#LLM
langchain-openai
langchain-google-genai
transformers
torch
tensorflow
langgraph == 0.6.8
requests == 2.32.1 

#Data
pandas

#Visualization
matplotlib ==3.8.1
seaborn ==0.13.2

